.cabecera, .cabecera .barra_principal .buscar .label, .cabecera .barra_principal .buscar .imagen, .page-template-template-homepage .contenido, .page-template-template-homepage .contenido #iconos a, .page-template-template-homepage .contenido #categorias .lista, .page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento, .page-template-template-homepage .contenido #lomasvendido, .page-template-template-homepage .contenido #nuevasofertas, .page-template-template-homepage #page main, #contacto, #contacto .info1 .elemento, #contacto .info_contacto, #contacto .info_contacto .contenedor .enlaces, .cabecera .barra_principal, .cabecera .barra_principal ul, .cabecera .barra_principal ul li, .cabecera .barra_principal ul li a, .cabecera .barra_principal .buscar, .cabecera .barra_menu, .menu_principal, .menu_principal #navbarNav, .menu_principal ul, .page-template-template-homepage .contenido #iconos, .page-template-template-homepage .contenido #categorias .lista .columna, .page-template-template-homepage .contenido #categorias .lista .columna .grupo, #contacto .info1, #contacto .info_contacto .contenedor, #contacto .info_contacto .contenedor .enlaces .grupo, #contacto .info_contacto .contenedor .enlaces .grupo .enlace, #contacto .info_contacto .contenedor .logostarjetas, .site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: end;
}

.cabecera, .cabecera .barra_principal .buscar .label, .cabecera .barra_principal .buscar .imagen, .page-template-template-homepage .contenido, .page-template-template-homepage .contenido #iconos a, .page-template-template-homepage .contenido #categorias .lista, .page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento, .page-template-template-homepage .contenido #lomasvendido, .page-template-template-homepage .contenido #nuevasofertas, .page-template-template-homepage #page main, #contacto, #contacto .info1 .elemento, #contacto .info_contacto, #contacto .info_contacto .contenedor .enlaces {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: "arl";
  src: url("../fonts/ARLRDBD.TTF") format("truetype");
}

@font-face {
  font-family: 'Harabara-Mais-Demo';
  src: url('../fonts/Harabara-Mais-Demo.woff') format('woff');
}

@font-face {
  font-family: 'gadugi';
  src: url('../fonts/gadugi.ttf') format('truetype');
}

@font-face {
  font-family: "bahn";
  src: url("../fonts/BAHNSCHRIFT 1.TTF") format("truetype");
}

@font-face {
  font-family: "frabk";
  src: url("../fonts/FRABK.TTF") format("truetype");
}

@font-face {
  font-family: "mont-bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "mont";
  src: url("../fonts/Montserrat-Medium.ttf") format("tretype");
}

@font-face {
  font-family: "segoe";
  src: url("../fonts/segoe-ui-light-2.ttf") format("truetype");
}

@font-face {
  font-family: "baiti";
  src: url("../fonts/msyi.ttf") format("truetype");
}

@font-face {
  font-family: "FREESCPT";
  src: url("../fonts/FREESCPT.woff") format("truetype");
}

.t-white {
  color: #ffffff;
}

.t-black {
  color: #000000;
}

.b-white {
  background-color: #ffffff;
}

.b-black {
  background-color: #000000;
}

.t-black__hover:hover {
  color: #000000;
}

.t-white__hover:hover {
  color: #ffffff;
}

/* 
*******************************************************************************************
-----------------------------------------  generales --------------------------------------   
*******************************************************************************************
*/
.boton-shadow {
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
  /*Sombra leve*/
  border-radius: 2px;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
}

.boton-shadow:hover, .boton-shadow:active {
  -webkit-box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.title__section {
  width: 100%;
}

.title__section h2 {
  font-family: "Harabara-Mais-Demo";
  color: #5a9688;
  text-align: center;
  font-size: 2cm !important;
}

.title__section hr {
  width: 100%;
  border-bottom: 1px solid #c2c2c2;
}


.title__section p {
  padding-left: 8rem !important;
  width: 90%;
  height: 80%;
  font-family: "gadugi";
  color: black;
  text-align: justify;
}
body {
  /* font-family: Arial; */
  font-family: "Montserrat";
}

#masthead {
  display: none;
}

.storefront-product-section {
  display: none;
}


.item__padding {
  padding: 1rem 1rem 0;
}


/* 
*******************************************************************************************
-----------------------------------------  footer -----------------------------------------   
*******************************************************************************************
*/

#contactoo {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  background-image: url('../images/futer.png') !important;
  background-size: 100% 100%;
  min-height: 17rem !important;

}

#informacion {
  float: left;
  height: 100%;
  width: 40%;
  color: #ffffff;
  position: left;
  font-family: 'FREESCPT';
  font-size: 8mm;
}

#informacion h1 {
  font-size: 5rem !important;
  padding-left: 20%;
  padding-top: 7% !important;
  color: white;
  align-content: center;
  
}

#informacion2 {
  float: left;
  height: 100%;
  width: 100%;
  color: #5a9688;
  position: left;
  font-family: 'FREESCPT';
  font-size: 8mm;
  font-size: 24mm;
  align-items: center;
}

#informacion2 h1 {
  font-size: 10rem !important;
  padding-left: 42% !important;
  padding-top: 2%;
  color: #5a9688;
  align-content: center;
  align-items: center;
}

#contactoo-img {
  float: left;
  height: 100%;
  width: 10%;
}

#contactoo-img2 {
  height: 5rem !important;
  width: 100%;
  padding-left:32rem !important;
  padding-top: 2rem;
}

.con{
  width: 3cm;
  height: 2cm;
}

#contactoo-img img {
  height: 100%;
  width: auto;
}

#contactoo-img2 img {
  height: 100%;
  width: auto;
  align-content: center;
  align-items: center;
}

#telefonos {
  float: left;
  padding-top: 2% !important;
  height: 100%;
  width: 50%;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem !important;
}

#telefonos ul {
  list-style: none;
}



.prueb{
  width: -webkit-fill-available;
}


#inicioz{
  background-image: url('../images/banner3.png') !important;
  background-size: 100% 100%;
  min-height: 60rem !important;
}

#collage{
  background-image: url('../images/collage.png') !important;
  background-size: 100% 100%;
  min-height: 50rem !important;
}

#promociones{
  background-image: url('../images/hola (3).png') !important;
  background-size: 100% 100%;
  min-height: 45rem !important;
}

#abajo{
  background-image: url('../images/abajo.png') !important;
  background-size: 100% 100%;
  min-height: 10rem !important;
}

#conta{
  background-image: url('../images/futer.png') !important;
  background-size: 100% 100%;
  min-height: 20rem !important;
}

#primary.content-area{
  margin: 0px;
}

.nm {
  font-size: 12px;
  height: 80%;
  font-family: "gadugi";
  color: black;
  text-align: justify;
  padding-left: 20% !important;
}

.wi{
  width: 75% !important;
}

.wi h5{
  
}


/* 
*******************************************************************************************
-----------------------------------------  header -----------------------------------------   
*******************************************************************************************
*/
.cabecera {
  width: 100%;
}

.cabecera .barra_principal {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #004b37;
  padding: 1rem 0.5rem;
}

.cabecera .barra_principal ul {
  list-style: none;
  margin: 0;
  height: 2rem;
}

.cabecera .barra_principal ul li {
  border-right: solid 1px rgba(255, 255, 255, 0.342);
  height: 100%;
  padding: 1.5rem 0.5rem;
}

.cabecera .barra_principal ul li a {
  margin: 0 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  text-transform: uppercase;
  font-family: "baiti";
  text-decoration: none;
}

.cabecera .barra_principal ul li a img {
  margin-right: 0.4rem;
  width: 2rem;
}

.cabecera .barra_principal ul li:last-child {
  border-right: none;
}

.cabecera .barra_principal ul li:hover a {
  color: rgba(255, 255, 255, 0.726);
}

.cabecera .barra_principal .buscar {
  width: 100%;
}

.cabecera .barra_principal .buscar .label {
  background-color: white;
  height: 2rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 0.7rem;
  text-transform: uppercase;
  color: #838383;
}

.cabecera .barra_principal .buscar form {
  margin-bottom: 0;
  width: 60%;
}

.cabecera .barra_principal .buscar input {
  text-transform: none;
  width: 100%;
  height: 2rem;
  background-color: white;
}

.cabecera .barra_principal .buscar .imagen {
  height: 2rem;
  border-radius: 25px;
  background-color: white;
  margin-left: -1.5rem;
}

.cabecera .barra_principal .buscar .imagen img {
  height: 60%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cabecera .barra_menu {

  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #004b37;
  padding: 1rem 0.5rem;
}

.cabecera .barra_menu .logo {
  width: 0%;
}

.cabecera .barra_menu .logo img {
  width: 0%;
}

.cabecera .barra_menu .menu_principal {
  width: 100%;
}

.menu_principal ul {
  margin: 0;
  display: contents !important;
}

.menu_principal ul li {
  text-decoration: none;
  list-style: none;
  padding: 1rem 1rem;
}

.menu_principal ul li a {
  color: #FFFFFF;
  font-family: "baiti";
  font-size: 10mm !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu_principal ul li:hover a {
  color: black;
}

/* 
*******************************************************************************************
--------------------------------------  contenido -----------------------------------------   
*******************************************************************************************
*/
.page-template-template-homepage .contenido {
  width: 100%;
}

.page-template-template-homepage .contenido #inicio {
  width: 100%;
}

.page-template-template-homepage .contenido #inicio img {
  width: 100%;
}

.page-template-template-homepage .contenido #iconos {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem;
  margin-top: 2rem;
}

.page-template-template-homepage .contenido #iconos a {
  height: 10rem;
  width: 10rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "arl";
  color: #061a7a;
  line-height: 100%;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-template-template-homepage .contenido #iconos a img {
  width: 5rem;
  margin-bottom: 0.5rem;
}

.page-template-template-homepage .contenido #iconos a:hover {
  background-color: #d8d6d6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.page-template-template-homepage .contenido #lomasvendido, .page-template-template-homepage .contenido #nuevasofertas, .page-template-template-homepage .contenido #categorias {
  margin-top: 2rem;
  width: 100%;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento {
  width: 10rem;
  margin: 1rem;
  padding: 2rem;
  text-transform: uppercase;
  font-family: "arl";
  color: #061a7a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento img {
  height: 5rem;
  margin-bottom: 1rem;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento .varios {
  padding: 2rem 0;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento .vehiculos {
  height: auto;
  padding: 1rem 0;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento:hover {
  background-color: #d8d6d6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.page-template-template-homepage .contenido #lomasvendido .productos, .page-template-template-homepage .contenido #nuevasofertas .productos {
  width: 95%;
  margin-top: 2rem;
  font-family: "arl";
}

.page-template-template-homepage .contenido #lomasvendido .productos .add_to_cart_button, .page-template-template-homepage .contenido #nuevasofertas .productos .add_to_cart_button {
  display: none;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link {
  position: relative;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link .onsale, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link .onsale {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link .star-rating, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link .star-rating {
  display: none;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link .price, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link .price {
  color: #061a7a;
  font-weight: bolder;
  font-size: 1.3rem;
}

.page-template-template-homepage #page .storefront-breadcrumb {
  display: none !important;
}

.page-template-template-homepage #page main {
  padding-top: 0;
}

.page-template-template-homepage #page main #post-5 {
  display: none;
}

.page-template-template-homepage #content .col-full {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}


footer {
  padding: 1rem 0rem;
}


@media (max-width: 1700px) {


  #inicioz{
    min-height: 55rem !important;
  }
  
  #collage{
    min-height: 45rem !important;
  }
  
  #promociones{
    min-height: 40rem !important;
  }
  
  #contactoo {
    min-height: 16rem !important;
  
  }
}

@media (max-width: 1500px) {


  #inicioz{
    min-height: 50rem !important;
  }
  
  #collage{
    min-height: 40rem !important;
  }
  
  #promociones{
    min-height: 35rem !important;
  }

  #abajo{
    min-height: 8rem !important;
  }

  #contactoo {
    min-height: 14rem !important;
  
  }
}

@media (max-width: 1300px) {


  #inicioz{
    min-height: 40rem !important;
  }
  
  #collage{
    min-height: 35rem !important;
  }
  
  #promociones{
    min-height: 30rem !important;
  }

  
  #contactoo {
    min-height: 12rem !important;
  
  }

  .nm {
    padding-left: 18% !important;
  }
  
  .wi{
    width: 80% !important;
  }
}

@media (max-width: 1100px) {

  .menu_principal ul li a {
    font-size: 7mm !important;
  }

  #inicioz{
    min-height: 35rem !important;
  }
  
  #collage{
    min-height: 30rem !important;
  }
  
  #promociones{
    min-height: 25rem !important;
  }

  #abajo{
    min-height: 6rem !important;
  }
  
  #contactoo {
    min-height: 10rem !important;
  
  }

  .title__section h2 {
    font-size: 1.5cm !important;
  }

  .wi h5{
    font-size: 1rem !important;
  }

  #informacion2 h1 {
    font-size: 7rem !important;
  }
}


@media (max-width: 768px) {

  

  #inicioz{
    min-height: 25rem !important;
  }
  
  #collage{
    min-height: 22rem !important;
  }
  
  #promociones{
    min-height: 19rem !important;
  }

  #abajo{
    min-height: 4rem !important;
  }
  
  #contactoo {
    min-height: 8rem !important;
  
  }

  .title__section h2 {
    font-size: 1cm !important;
  }

  .wi h5{
    font-size: 0.85rem !important;
  }

  #informacion2 h1 {
    font-size: 5rem !important;
  }
}



@media (max-width: 414px) {

  

  #inicioz{
    min-height: 15rem !important;
  }
  
  #collage{
    min-height: 12rem !important;
  }
  
  #promociones{
    min-height: 10rem !important;
  }

  #abajo{
    min-height: 2rem !important;
  }
  
  #contactoo {
    min-height: 4rem !important;
  
  }

  .menu_principal ul {
    display: none !important;
  }


  .wi h5{
    font-size: 0.5rem !important;
  }

  #informacion2 h1 {
    font-size: 3rem !important;
  }

}



@media (max-width: 375px) {

  

  #inicioz{
    min-height: 12rem !important;
  }
  
  #collage{
    min-height: 10rem !important;
  }
  
  #promociones{
    min-height: 9rem !important;
  }

  #abajo{
    min-height: 2rem !important;
  }
  
  #contactoo {
    min-height: 4rem !important;
  
  }

  .title__section h2 {
    font-size: 0.8cm !important;
  }


  .wi h5{
    font-size: 0.5rem !important;
  }

  #informacion2 h1 {
    font-size: 2.5rem !important;
  }

}
/*

@media (max-width: 768px) {
  
 
  .img-collage{
    padding-top: 25px!important;
  }
  
  .prueba2{
    width: 100%!important;
    height: 28%!important;
  }

  #informacion2 h1 {
    padding-left: 30%!important;
}

#contactoo-img2 {
  padding-left: 17rem!important;
}
}*/

/*TERCERA PARTE DEL RESPONSIVE IPHONE 6/7/8 PLUS


@media (max-width: 414px) {
  

  .menu_principal ul li a {
    font-size: 4mm!important;
  }

  .title__section p {
    padding-left: 2rem!important;
  }

  .caja-res22 {
    height: 15rem!important;
  }

  .img-collage2{
    padding-right: 22px!important;
    height: 12rem!important;
  }
  
  .img-collage3{
    padding-left: 22px!important;
    height: 12rem!important;
  }
 
  .img-collage{
    padding-top: 50px!important;
  }
  
  .prueba2{
    width: 100%!important;
    height: 28%!important;
  }

  #informacion h1 {
    font-size: 2rem!important;
    padding-top: 50%!important;
    
  }

  #telefonos {
    padding-top: 15%!important;
    font-size: 0.6rem!important;
  }


  #informacion2 h1 {
    padding-left: 38%!important;
    font-size: 3rem!important;
}



#contactoo-img2 {
  padding-left: 125px!important;
  height: 60px!important;
}

}


/*CUARTA PARTE DEL RESPONSIVE IPHONE 6/7/8/X


@media (max-width: 375px) {
  

  .menu_principal ul li a {
    font-size: 4mm!important;
  }

  .title__section p {
    padding-left: 3rem!important;
  }

  .caja-res22 {
    height: 15rem!important;
  }

  .img-collage2{
    padding-right: 22px!important;
    height: 10rem!important;
  }
  
  .img-collage3{
    padding-left: 22px!important;
    height: 10rem!important;
  }
 
  .img-collage{
    padding-top: 45px!important;
  }
  
  .prueba2{
    width: 100%!important;
    height: 25%!important;
  }

  #informacion h1 {
    font-size: 2rem!important;
    padding-top: 50%!important;
    
  }

  #telefonos {
    padding-top: 15%!important;
    font-size: 0.6rem!important;
  }


  #informacion2 h1 {
    padding-left: 38%!important;
    font-size: 3rem!important;
}



#contactoo-img2 {
  padding-left: 125px!important;
  height: 55px!important;
}

}
*/ 





/*
Theme Name: OASIS
Theme URI:
Author: TechWeb team
Author URI: http://techwebgt.com
Description: OASIS website
Version: 1.0.0
Tags: white
Text Domain: OASISGT
*/

/* tipografias */
@font-face {
  font-family: 'FREESCPT';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/FREESCPT.woff') format('woff');
}
@font-face {
  font-family: 'Harabara-Mais-Demo';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/Harabara-Mais-Demo.woff') format('woff');
}
@font-face {
  font-family: 'ARLRDBD';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/ARLRDBD.woff') format('woff');
}

.ff-free{
  font-family: 'FREESCPT';
}
/* # reset */
*, *:after, *:before {
  box-sizing: border-box;

}
html, body, h1, h2, h3, h4, h5, h6, ul, li, figure, .row {
  margin: 0;
  padding: 0;
}
figure img {
  width: 100%;
  height: 100%;
}
figure {
  padding: 0 !important;
  margin: 0 !important;
}
a, a:hover {
  text-decoration: none;
}
body {
  font-size: 18px;
  font-family: Tahoma;
  font-family: 'Gotham Medium', normal;
}
nav ul, .no-list {
  list-style: none;
}

/* Theme */
/* # Theme */
.row {
  margin-left: 0;
  margin-right: 0;
}
.t-bold {
  font-weight: bold;
}
.t-white { color: #ffffff;}
.t-black { color: #000000;}
.t-blue { color: #3a70b8}
.t-red { color: #ce0202}
.t-pink {color: #B6506E}
.t-verde {color: #68C4B5}
.t-azul{color: #4EA0E2}
.t-black__hover:hover { color: #000000;}
.t-white__hover:hover { color: #ffffff;}
.t-blue__hover:hover { color: #3a70b8;}
.t__green-hover:hover { color: #68DC8D;}

.b-white { background-color: #ffffff;}
.b-transparent {background-color: transparent;}
.b-black { background-color: #000000;}
.b-blue { background-color: #3a70b8}
.b-red {background-color :#bb000c; }
.b-pink {background-color: #B6506E; }
.b-verde {background-color: #68C4B5;}
.b-azul{background-color: #4EA0E2;}
.a-acua{background-color: #004B37;}

.b-principal {
  background: rgb(104,220,141);
  background: -moz-linear-gradient(left, rgba(104,220,141,1) 0%, rgba(104,220,141,1) 26%, rgba(31,181,190,1) 100%);
  background: -webkit-linear-gradient(left, rgba(104,220,141,1) 0%,rgba(104,220,141,1) 26%,rgba(31,181,190,1) 100%);
  background: linear-gradient(to right, rgba(104,220,141,1) 0%,rgba(104,220,141,1) 26%,rgba(31,181,190,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68dc8d', endColorstr='#1fb5be',GradientType=1 );
}
.b-gray { background-color: #a0a0a0; }

.b__white-hover:hover { background-color: #ffffff;}
.b__black-hover:hover { background-color: #000000;}
.b__blue-hover:hover { background-color: #1fb5be;}
.b__green-hover:hover { background-color: #68DC8D;}
.b__pink-hover:hover { background-color: #B6506E;}
.t-right { text-align: right; }
.t-center { text-align: center; }
.e-center {
  margin-left: auto;
  margin-right: auto;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-50 {
  width: 50%;
}
.j-center {
  justify-content: center;
}
.j-end {
  justify-content: flex-end;
}
.a-center {
  align-items: center;
}
.a-end {
  align-items: flex-end;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.full-height2 {
  padding-top: 5rem;
}
.title {
  font-weight: bold;
  font-size: 3rem;
}
.topcat{
  padding-top: 0rem !important;
}
.border-none {
  border: none;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.p-relative {
  position: relative;
}


/* contenedores */
.caja-res{
  height: 50rem;
}
.col-ajustable {
  text-align: right;
  padding-left:100px;
}
.col-center {
  float: none;
  margin: 0 auto;
}


#galeria {
  width: 100%;
  height: 25%;
  padding: 0 20px 20px;
  box-sizing: border-box;
  column-count: 4;

  /* Espacio entre columnas */
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 0px;

  /* Filete entre columnas */
  /*-moz-column-rule: 1px solid #bbb;
  -webkit-column-rule: 1px solid #bbb;
  column-rule: 1px solid #bbb;*/


}


.caja-res2 {
  height: 50rem;
}

.nav-item{
  display: flex;
}




#galeria2 {
  width: 100%;
  padding: 0 20px 20px;
  box-sizing: border-box;
  /*column-count: 4;*/

  /* Espacio entre columnas */
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;

  /* Filete entre columnas */
  /*-moz-column-rule: 1px solid #bbb;
  -webkit-column-rule: 1px solid #bbb;
  column-rule: 1px solid #bbb;*/
  display: flex;
  
  padding-top: 15px;


}

.prueba{
  width: 33%;
  height: 100%;
}

.prueba2{
  width: 100% !important;
  height: 45% !important;;
}


.caja-res22 {
  height: 35rem !important;
}

.img-collage{
  padding-top: 50px !important;
}

.img-collage2{
  padding-right: 22px !important;
}

.img-collage3{
  padding-left: 22px !important;
}

/* tabla */

/*** Table Styles **/

.view table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  table-layout: auto;
}

.view th {
  color:#D5DDE5;;
  background:#0046ab;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-weight: 100;
  padding:24px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.view th:first-child {
  border-top-left-radius:3px;
}

.view th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

.view tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.view tr:hover td {
  background:#1c4074;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

.view tr:first-child {
  border-top:none;
}

.view tr:last-child {
  border-bottom:none;
}

.view tr:nth-child(odd) td {
  background:#EBEBEB;
}

.view tr:nth-child(odd):hover td {
  background:#1c4074;
}

.view tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

.view tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

.view td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.view td:last-child {
  border-right: 0px;
}


.view table {
  font-size: .8em;
}

.view tfoot {
  display: none;
}

.tt-color{
  color: #68C4B5;
}

footer{
  font-family: "Montserrat",sans-serif;
}

/*# sourceMappingURL=tech.css.map */